<div class="px-6 sm:px-10 max-w-[1050px] flex flex-col mx-auto">
  <button
    appHoverGap
    (click)="goToHome()"
    class="transition duration-200 my-4 text-[#617480] place-self-start flex items-center gap-1"
  >
    <span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="15px"
        height="15px"
        viewBox="0 0 24 24"
        fill="none"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M11.7071 4.29289C12.0976 4.68342 12.0976 5.31658 11.7071 5.70711L6.41421 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H6.41421L11.7071 18.2929C12.0976 18.6834 12.0976 19.3166 11.7071 19.7071C11.3166 20.0976 10.6834 20.0976 10.2929 19.7071L3.29289 12.7071C3.10536 12.5196 3 12.2652 3 12C3 11.7348 3.10536 11.4804 3.29289 11.2929L10.2929 4.29289C10.6834 3.90237 11.3166 3.90237 11.7071 4.29289Z"
          fill="#000000"
        />
      </svg>
    </span>
    <span>Go back</span>
  </button>
<div class="w-full gap-6 mb-10">
    <div>
      <div class="flex gap-2">
        <h2 class="text-[20px] font-semibold text-white">YOUR CART</h2>

        <p class="text-[14px] text-white mt-1 mb-6">
          Total ({{ getItems().length }} products)
        </p>
      </div>

      <div class="flex flex-col gap-5">
        <div
          *ngFor="let obj of getItems(); let i = index"
          class="bg-gray-900 border rounded-lg grid grid-cols-[1fr_150px] gap-4 p-3 overflow-hidden relative"
        >


          <div class="text-white flex flex-col justify-between py-2 pr-4">
            <div class="flex justify-between">
              <h3
                class="mb-3 line-clamp-1"
                [innerHTML]="obj.title | styledText"
              ></h3>
<div class="flex items-start justify-center">
                <button class="text-red-700 font-bold" (click)="deleteItem(i)">
                  X
                </button>
              </div>
            </div>

            <p class="w-full line-clamp-3 text-[14px] mb-3">
              {{ obj.description }}
            </p>

            <div class="flex justify-between">
              <div class="flex font-bold items-center gap-2">
                <div class="flex gap-2 items-center justify-center rounded-md">
                  <div>Quant:</div>
                  {{ obj.quantity }}
                </div>
              </div>

              <span class="font-bold">{{ obj.price | currencyBRL }}</span>
            </div>
          </div>

          <div
            class="bg-white p-4 w-[100px] h-[100px] lg:w-[150px] lg:h-[150px] overflow-hidden"
          >
            <img [src]="obj.image" />
          </div>
        </div>
      </div>
    </div>

    <div class="bg-gray-900 mt-6 border rounded-lg p-3 px-5 text-white">
      <h2 class="text-[20px] font-semibold">ORDER SUMMARY</h2>

      <p class="flex text-[18px] mt-6 justify-between font-semibold">
        Total
        <span>{{ getTotalPrice() | currencyBRL }}</span>
      </p>

      <div class="flex justify-end">
        <button
          appHoverLift
          (click)="concludedBuy()"
          class="bg-[#51B853] mt-6 p-3 text-white rounded-md font-semibold"
        >
          FINALIZE THE PURCHASE
        </button>
      </div>
    </div>
  </div>
</div>